td,
th {
  border: 1px solid #cccccc;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  color: white;
  background-color: black;
}
