td,
th {
  border: 1px solid #cccccc;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  color: white;
  background-color: rgb(75, 75, 75);
}

h1{
  text-align: center;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px
}

.pagination {
 display: flex;
 justify-content: center;
 margin-top: 10px;
}